.post {
  max-width: 50rem;
  width: 90%;
  border: 1px solid #7f7f7f;
  padding: 2rem;
  margin: 2rem auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(#adadad, 0.6);
  transition: all 0.2s ease-in-out;

  &-body {
    cursor: pointer;
  }

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  }
}


.comments-label {
  display: block;
  color: #928d8d;
  margin: 20px 0;
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 1px solid #928d8d;

  &.arrow-up::after {
    content: "";
    display: inline-block;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    transform: rotate(225deg) scale(0.5) translateY(-4px);
  }

  &::after {
    content: "";
    display: inline-block;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    transform: rotate(-315deg) scale(0.5);
  }
}

